@using TechTaskCar.Models;
@model Submission;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<form asp-controller="Home" asp-action="Index" method="post">
            <div>
            <label for="TopicList">Last Name:</label>
            <input type="text" id="TopicList" name="TopicList"   />
        </div>
        <div>
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName"   />
        </div>
        <div>
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName"   />
        </div>
        <div>
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" />
        </div>
        <div>
            <label for="Company">Company:</label>
            <input type="text" id="Company" name="Company" />
        </div>
        <div>
            <label for="Title">Title:</label>
            <input type="text" id="Title" name="Title" />
        </div>
        <div>
            <label for="Questions">Questions:</label>
            <textarea id="Questions" name="Questions"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>



</div>
