@using TechTaskCar.Models;
@model Submission;

@{
    ViewData["Title"] = "Home Page";
    var successMessage = TempData["SuccessMessage"] as string;

}

<div class="container">



    <!-- creating the form width properties from my modal and connecting the home controller using the index method -->
<form asp-controller="Home" asp-action="Index" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-body">
        <div>
            <label for="TopicList">Webinar topic list <span class="text-danger">*</span></label>
            <select id="TopicList" name="TopicList" asp-for="TopicList" asp-items="ViewBag.Topics" class="form-control">
                <option value="">-- Select a Topic --</option>
            </select>
            <span asp-validation-for="TopicList" class="text-danger"></span>
        </div>

        <div class="form-row">
            <div>
                <label for="FirstName">First name <span class="text-danger">*</span></label>
                <input type="text" id="FirstName" name="FirstName" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div>
                <label for="LastName">Last name <span class="text-danger">*</span></label>
                <input type="text" id="LastName" name="LastName" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label for="Email">Email <span class="text-danger">*</span></label>
            <input type="email" id="Email" name="Email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-row">
            <div>
                <label for="Company">Company</label>
                <input type="text" id="Company" name="Company" asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>

            <div>
                <label for="Title">Title</label>
                <input type="text" id="Title" name="Title" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div>
            <label for="Questions">Questions</label>
            <textarea id="Questions" name="Questions" asp-for="Questions" class="form-control"></textarea>
            <span asp-validation-for="Questions" class="text-danger"></span>
        </div>
    </div>

    <div class="form-footer">
        <button type="submit">Submit</button>

        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="form-success">
                @successMessage
            </div>
        }
    </div>
</form>

</div>
